/* Style untuk Halaman Form Data Gejala */
body {
    font-family: 'Nunito', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    height: 40px;
    display: flex;
    background-color: #455a64;
    color: white;
    padding: 10px 30px 0px 30px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 100;
    box-shadow: 0px 4px 5px 0px #79767672;
    transition: height 0.3s;
    top: 0;
    left: 0;
    right: 0;
}

header h1 {
    font-size: 14px;
}

header h2 {
    display: none;
}

#burgerButton {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    padding: 0;
}

.burgerMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    background-color: #73B385;
    backdrop-filter: blur(2px);
    position: absolute;
    top: 50px;
    left: 0px;
    width: auto;
    height: 270px;
    box-shadow: 0px 3px 2px 0px #79767672;
}

.burgerMenu li {
    padding: 10px 10px 10px 30px;
    text-align: left;
    font-size: 10px;
    font-weight: lighter;
}

.namaApk li {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding-left: 0px;
}

.custom-hr {
    border: none;
    height: 0.5px;
    width: 95px;
    background-color: white;
    margin: 0 auto;
}

.subKonsultasi {
    margin-left: 20px;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
}

#btnKeFormDataGejala2 {
    font-weight: bold;
}

.menu-item:hover {
    background-color: rgb(102, 159, 118, 1);
    font-weight: bold;
}

.burgerMenu li a {
    text-decoration: none;
    color: white;
    display: block;
}

.burgerMenu.active {
    display: block;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(115, 179, 133, 0.5px);
    backdrop-filter: blur(2px); 
    z-index: 5;
    display: none;
}

#overlay.active {
    display: block;
}

.burgerMenu {
    display: none;
}

aside {
    display: none;
}

/* Style untuk Main */
main {
    margin: 80px 30px 0px;
}

.container p {
    font-size: 8px;
}

#table-container {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td.left-align {
    width: 100%;
    text-align: center;
}

table, th, td {
    border: 1px solid #DDD;
}

th, td {
    padding: 5px;
    font-size: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    text-wrap: nowrap;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

#kosong {
    font-family: "Nunito", "sans-serif";
    background-color: white;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 0px 5px;
    font-size: 8px;
    width: 50px;
    cursor: pointer;
}

#paginationInfo {
    text-wrap: nowrap;
    font-size: 8px;
}

#prev, #next {
    padding: 0;
    border: none;
    background-color: transparent;
}

#next {
    padding-right: 5px;
}

#prev img, #next img {
    width: 20px;
}

#prev img:hover, #next img:hover {
    background-color: #72a27286;
    border-radius: 10px;
    cursor: pointer;
}

#btnKirim {
    font-family: "Nunito", "sans-serif";
    background-color: #5B8E69;
    border: 2px solid #73B385;
    border-radius: 20px;
    color: white;
    padding: 0px 5px;
    font-size: 8px;
    width: 50px;
    cursor: pointer;
}

#btnKirim:hover {
    background-color: #72A272;
}

/* Style untuk Footer */
footer {
    background-color: #455a64;
    color: white;
    padding: 20px 30px;
}

footer h3 {
    font-size: 14px;
}

footer p {
    font-size: 10px;
    margin: auto;
}

footer ul {
    display: flex;
    list-style-type: none;
    padding: 0%;
    margin: 10px;
}

footer ul li {
    display: flex;
    gap: 10px;
}

.kontakPengembang {
    padding-top: 20px;
}

.copyright {
    margin-top: 60px;
    text-align: center;
}

@media (min-width: 375px) {
    /* Style untuk Main */
    .container p {
        font-size: 10px;
    }

    th, td {
        font-size: 10px;
    }

    #next {
        padding-right: 3px;
    }

    #kosong {
        width: 65px;
    }

    #paginationInfo {
        font-size: 10px;
    }
    
    #btnKirim {
        font-size: 10px;
        width: 65px;
    }

    /* Style untuk Footer */
    footer h3 {
        font-size: 14px;
    }

    footer p {
        font-size: 11px;
    }
}

@media (min-width: 425px) {
    /* Style untuk Header */
    header {
        padding: 10px 40px 0px;
    }

    /* Style untuk Main */
    main {
        margin: 80px 40px 0px;
    }

    .container p {
        font-size: 11px;
    }

    th, td {
        font-size: 10px;
    }

    #next {
        padding-right: 3px;
    }

    /* Style untuk Footer */
    footer {
        padding: 20px 40px;
    }
}

@media (min-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        height: 100%;
    }

    /* Style untuk Header */
    #burgerButton {
        display: none;
    }

    aside {
        display: flex;
    }

    header {
        left: 155px;
    }

    header h1 {
        font-size: 16px;
    }

    /* Style untuk Side Menu */
    .sideMenu {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        color: white;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #73B385;
        backdrop-filter: blur(2px);
        box-shadow: 0px 0px 0px 0px #79767672;
    }
    
    .sideMenu li {
        padding: 10px 10px 10px 20px;
        text-align: left;
        font-size: 11px;
        font-weight: lighter;
    }

    .menu-item {
        width: 105px;
    }
    
    .namaApk li {
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        padding: 25px 10px 25px 0px;
    }

    .custom-hr {
        width: 115px;
    }

    /* Style untuk Main */
    main {
        margin: 80px 40px 0px;
    }
    
    .container p {
        font-size: 12px;
    }
    
    table, th, td {
        border: 1px solid #DDD;
    }
    
    th, td {
        padding: 5px;
        font-size: 11px;
    }
    
    .pagination {
        margin: 20px 0px;
    }
    
    #next {
        padding-right: 7px;
    }
    
    #prev img, #next img {
        width: 25px;
    }

    #paginationInfo {
        font-size: 11px;
    }

    #kosong {
        width: 75px;
    }
    
    #btnKirim {
        font-size: 11px;
        width: 75px;
    }
    
    #btnKirim:hover {
        background-color: #72A272;
    }

    /* Style untuk Footer */
    footer h3 {
        font-size: 14px;
    }
    
    footer p {
        font-size: 12px;
    }
}

@media (min-width: 667px) {
    /* Style untuk Header */
    header {
        left: 185px;
    }

    header > h1 {
        font-size: 20px;
    }

    /* Style untuk Side Menu */
    .sideMenu li {
        padding: 10px 10px 10px 20px;
        font-size: 14px;
    }

    .menu-item {
        width: 135px;
    }
    
    .namaApk li {
        font-size: 20px;
        padding: 25px 10px 25px 0px;
    }

    .custom-hr {
        width: 150px;
    }

    /* Style untuk Main */
    .container p {
        font-size: 12.5px;
    }

    th, td {
        font-size: 12.5px;
    }

    #next {
        padding-right: 4px;
    }

    #paginationInfo {
        font-size: 12.5px;
    }

    #kosong {
        width: 85px;
    }

    #btnKirim {
        font-size: 12.5px;
        width: 85px;
    }

    /* Style untuk Footer */
    footer {
        display: flex;
        flex-direction: column;
        padding: 30px 50px 20px;
    }

    .isi-footer {
        display: flex;
        gap: 70px;
    }

    .footer-sipakar {
        width: 50%;
    }

    .kontakPengembang{
        padding: 0%;
    }

    footer h3 {
        font-size: 18px;
    }

    footer p {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    /* Style untuk Header */
    header {
        left: 185px;
    }

    header h1 {
        font-size: 20px;
    }

    /* Style untuk Side Menu */
    .sideMenu li {
        padding: 10px 10px 10px 20px;
        text-align: left;
        font-size: 14px;
        font-weight: lighter;
    }

    .menu-item {
        width: 135px;
    }
    
    .namaApk li {
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        padding: 25px 10px 25px 0px;
    }

    .custom-hr {
        width: 150px;
    }

    /* Style untuk Main */
    main {
        margin: 80px 40px 0px;
    }
    
    .container p {
        font-size: 14px;
    }
    
    th, td {
        padding: 5px;
        font-size: 12.5px;
    }
    
    .pagination {
        margin: 20px 0px;
    }
    
    #next {
        padding-right: 8px;
    }

    #paginationInfo {
        font-size: 12.5px;
    }

    #kosong {
        width: 95px;
    }

    #btnKirim {
        font-size: 13px;
        width: 95px;
    }

    /* Style untuk Footer */
    footer {
        display: flex;
        flex-direction: column;
        padding: 30px 50px 20px;
    }

    .isi-footer {
        display: flex;
        gap: 110px;
    }

    .footer-sipakar {
        width: 50%;
    }

    .kontakPengembang{
        padding: 0%;
    }

    footer h3 {
        font-size: 18px;
    }

    footer p {
        font-size: 12px;
    }
}

@media (min-width: 1024px) {
    /* Style untuk Header */
    header {
        left: 190px;
        padding: 15px 50px 5px;
    }

    header h1 {
        font-size: 22px;
    }

    /* Style untuk Side Menu */
    .sideMenu li {
        font-size: 14px;
    }

    .menu-item {
        width: 140px;
    }
    
    .namaApk li {
        font-weight: 700;
        font-size: 22px;
        text-align: center;
        padding: 25px 10px 25px 0px;
    }

    .custom-hr {
        width: 150px;
    }

    /* Style untuk Main */
    main {
        margin: 100px 100px 20px;
    }
    
    .container p {
        font-size: 14px;
    }
    
    th, td {
        padding: 5px;
        font-size: 14px;
    }
    
    .pagination {
        margin: 20px 0px;
    }

    #prev img, #next img {
        width: 30px;
    }
    
    #next {
        padding-right: 10px;
    }
    
    #prev img:hover, #next img:hover {
        border-radius: 20px;
    }

    #paginationInfo {
        font-size: 14px;
    }

    #kosong {
        width: 100px;
    }

    #btnKirim {
        font-size: 14px;
        width: 100px;
    }

    /* Style untuk Footer */
    footer {
        display: flex;
        flex-direction: column;
        padding: 30px 70px 20px;
    }

    .isi-footer {
        display: flex;
        gap: 180px;
    }

    .footer-sipakar {
        width: 50%;
    }

    .kontakPengembang{
        padding: 0%;
    }

    footer h3 {
        font-size: 22px;
    }

    footer p {
        font-size: 14px;
    }
}

@media (min-width: 1347px) {
    /* Style untuk Header */
    header {
        left: 240px;
        padding: 20px 80px 10px 80px;
    }

    header h1 {
        font-size: 28px;
    }
    
    /* Style untuk Side Menu */
    .sideMenu li {
        font-size: 18px;
        padding: 20px 10px 10px 30px;
    }

    .menu-item {
        width: 180px;
    }
    
    .namaApk li {
        font-weight: 700;
        font-size: 28px;
        text-align: center;
        padding: 40px 10px 25px 0px;
    }

    .custom-hr {
        width: 185px;
    }

    /* Style untuk Main */
    main {
        margin: 120px 100px 30px;
    }
    
    .container p {
        font-size: 20px;
    }
    
    th, td {
        padding: 5px;
        font-size: 18px;
    }

    input{
        height: 20px;
        width: 20px;
    }
    
    .pagination {
        margin: 20px 0px;
    }

    #prev img, #next img {
        width: 40px;
    }
    
    #next {
        padding-right: 15px;
    }

    #prev img:hover, #next img:hover {
        border-radius: 20px;
    }

    #paginationInfo {
        font-size: 18px;
    }

    #kosong {
        width: 130px;
    }

    #btnKirim {
        font-size: 18px;
        width: 130px;
    }

    /* Style untuk Footer */
    footer {
        display: flex;
        flex-direction: column;
        padding: 30px 90px 20px;
    }

    .isi-footer {
        display: flex;
        gap: 200px;
    }

    .footer-sipakar {
        width: 50%;
    }

    .kontakPengembang{
        padding: 0%;
    }

    footer h3 {
        font-size: 22px;
    }

    footer p {
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    #next {
        padding-right: 60px;
    }
}