/* Style untuk Halaman Form Data Terpilih */
body {
    font-family: 'Nunito', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    height: 40px;
    display: flex;
    background-color: #455a64;
    color: white;
    padding: 10px 30px 0px 30px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 100;
    box-shadow: 0px 4px 5px 0px #79767672;
    transition: height 0.3s;
    top: 0;
    left: 0;
    right: 0;
}

header h1 {
    font-size: 14px;
}

header h2 {
    display: none;
}

#burgerButton {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    padding: 0;
}

.burgerMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    background-color: #73B385;
    backdrop-filter: blur(2px);
    position: absolute;
    top: 50px;
    left: 0px;
    width: auto;
    height: 270px;
    box-shadow: 0px 3px 2px 0px #79767672;
}

.burgerMenu li {
    padding: 10px 10px 10px 30px;
    text-align: left;
    font-size: 10px;
    font-weight: lighter;
}

.namaApk li {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding-left: 0px;
}

.custom-hr {
    border: none;
    height: 0.5px;
    width: 95px;
    background-color: white;
    margin: 0 auto;
}

.subKonsultasi {
    margin-left: 20px;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
}

.menu-item:hover {
    background-color: rgb(102, 159, 118, 1);
    font-weight: bold;
}

.burgerMenu li a {
    text-decoration: none;
    color: white;
    display: block;
}

.burgerMenu.active {
    display: block;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(115, 179, 133, 0.5px);
    backdrop-filter: blur(2px); 
    z-index: 5;
    display: none;
}

#overlay.active {
    display: block;
}

.burgerMenu {
    display: none;
}

aside {
    display: none;
}

/* Style untuk Main */
main {
    margin: 80px 30px 0px;
}

.custom-hr2 {
    background-color: black;
    margin: 0;
}

p {
    font-size: 10px;
}

.container h2 {
    font-size: 12px;
    margin-top: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.154);
}

th {
    padding: 5px;
    text-align: center;
    font-size: 10px;
}

td {
    padding: 5px;
    text-align: center;
    font-size: 10px;
}

select {
    font-family: "Nunito", "sans-serif";
    border: none;
    font-size: 10px;
}

.kirim{
    text-align: right;
}

#submitJawabanBtn {
    font-family: "Nunito", "sans-serif";
    border: none;
    border-radius: 10px;
    background-color: #72A272;
    color: #fff;
    padding: 2px 10px;
    display: inline-block;
    text-align: right;
    margin-bottom: 15px;
    font-size: 12px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.pagination2{
    text-align: right;
}

#btnLihatHasil {
    font-family: "Nunito", "sans-serif";
    border: none;
    border-radius: 10px;
    background-color: #72A272;
    color: #fff;
    padding: 2px 10px;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 12px;
    cursor: pointer;
}

/* Style untuk Pop Up */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: left;
}

.popup-content > h2, h3 {
    font-size: 12px;
}

.popup-content > p {
    font-size: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style untuk Footer */
footer {
    background-color: #455a64;
    color: white;
    padding: 20px 30px;
}

footer h3 {
    font-size: 14px;
}

footer p {
    font-size: 10px;
    margin: auto;
}

footer ul {
    display: flex;
    list-style-type: none;
    padding: 0%;
    margin: 10px;
}

footer ul li {
    display: flex;
    gap: 10px;
}

.kontakPengembang {
    padding-top: 20px;
}

.copyright {
    margin-top: 60px;
    text-align: center;
}

@media (min-width: 375px) {
    /* Style untuk Main */
    #next {
        padding-right: 30px;
    }

    /* Style untuk Footer */
    footer h3 {
        font-size: 14px;
    }

    footer p {
        font-size: 11px;
    }
}

@media (min-width: 425px) {
    /* Style untuk Header */
    header {
        padding: 10px 40px 0px;
    }

    /* Style untuk Main */
    main {
        margin: 80px 40px 0px;
    }

    main > p {
        font-size: 10px;
    }

    th, td {
        padding: 5px;
        font-size: 10px;
        text-align: center;
    }

    select {
        font-size: 10px;
    }

    .pagination {
        gap: 30px;
        margin: 20px 0px;
    }

    #next {
        padding-right: 40px;
    }

    #prev img, #next img {
        width: 22px;
    }

    #btnKirim {
        font-size: 10px;
        width: 90px;
    }

    /* Style untuk Footer */
    footer {
        padding: 20px 40px;
    }
}

@media (min-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        height: 100%;
    }

    /* Style untuk Header */
    #burgerButton {
        display: none;
    }

    aside {
        display: flex;
    }

    header {
        left: 155px;
    }

    header h1 {
        font-size: 16px;
    }

    /* Style untuk Side Menu */
    .sideMenu {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        color: white;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #73B385;
        backdrop-filter: blur(2px);
        box-shadow: 0px 0px 0px 0px #79767672;
    }
    
    .sideMenu li {
        padding: 10px 10px 10px 20px;
        text-align: left;
        font-size: 11px;
        font-weight: lighter;
    }

    #btnKePerhitunganManual2 {
        font-weight: bold;
    }

    .menu-item {
        width: 105px;
    }
    
    .namaApk li {
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        padding: 25px 10px 25px 0px;
    }

    .custom-hr {
        width: 115px;
    }

    /* Style untuk Main */
    main {
        margin: 80px 40px 0px;
    }
    
    .container h2 {
        font-size: 12px;
    }

    p {
        font-size: 11px;
    }
    
    table, th, td {
        border: 1px solid #DDD;
    }
    
    th, td {
        padding: 5px;
        font-size: 11px;
    }

    select {
        font-size: 11px;
    }
    
    /* Style untuk Pop Up */
    .popup-content > h2, h3 {
        font-size: 14px;
    }

    .popup-content > p {
        font-size: 12px;
    }

    .close {
        font-size: 32px;
    }

    /* Style untuk Footer */
    footer h3 {
        font-size: 14px;
    }
    
    footer p {
        font-size: 12px;
    }
}

@media (min-width: 667px) {
    /* Style untuk Header */
    header {
        left: 185px;
    }

    header > h1 {
        font-size: 20px;
    }

    /* Style untuk Side Menu */
    .sideMenu li {
        padding: 10px 10px 10px 20px;
        font-size: 14px;
    }

    .menu-item {
        width: 135px;
    }
    
    .namaApk li {
        font-size: 20px;
        padding: 25px 10px 25px 0px;
    }

    .custom-hr {
        width: 150px;
    }

    /* Style untuk Main */
    .container h2 {
        font-size: 16px;
    }

    p {
        font-size: 12.5px;
    }
    
    table, th, td {
        border: 1px solid #DDD;
    }
    
    th, td {
        padding: 5px;
        font-size: 12.5px;
    }

    select {
        font-size: 12.5px;
    }
    
    /* Style untuk Pop Up */
    .popup-content > h2, h3 {
        font-size: 16px;
    }

    .popup-content > p {
        font-size: 14px;
    }

    .close {
        font-size: 34px;
    }

    /* Style untuk Footer */
    footer {
        display: flex;
        flex-direction: column;
        padding: 30px 50px 20px;
    }

    .isi-footer {
        display: flex;
        gap: 70px;
    }

    .footer-sipakar {
        width: 50%;
    }

    .kontakPengembang{
        padding: 0%;
    }

    footer h3 {
        font-size: 18px;
    }

    footer p {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    /* Style untuk Header */
    header {
        left: 185px;
    }

    header h1 {
        font-size: 20px;
    }

    /* Style untuk Side Menu */
    .sideMenu li {
        padding: 10px 10px 10px 20px;
        text-align: left;
        font-size: 14px;
        font-weight: lighter;
    }

    .menu-item {
        width: 135px;
    }

    .namaApk li {
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        padding: 25px 10px 25px 0px;
    }

    .custom-hr {
        width: 150px;
    }

    /* Style untuk Main */
    main {
        margin: 80px 40px 0px;
    }

    .container h2 {
        font-size: 16px;
    }
    
    p {
        font-size: 13px;
    }
    
    th, td {
        padding: 5px;
        font-size: 13px;
    }

    select {
        font-size: 13px;
    }

    #submitJawabanBtn {
        font-size: 13px;
    }

    #btnLihatHasil {
        font-size: 13px;
    }

    /* Style untuk Pop Up */
    .popup-content > h2, h3 {
        font-size: 18px;
    }

    .popup-content > p {
        font-size: 16px;
    }

    .close {
        font-size: 36px;
    }

    /* Style untuk Footer */
    footer {
        display: flex;
        flex-direction: column;
        padding: 30px 50px 20px;
    }

    .isi-footer {
        display: flex;
        gap: 110px;
    }

    .footer-sipakar {
        width: 50%;
    }

    .kontakPengembang{
        padding: 0%;
    }

    footer h3 {
        font-size: 18px;
    }

    footer p {
        font-size: 12px;
    }
}

@media (min-width: 1024px) {
    /* Style untuk Header */
    header {
        left: 190px;
        padding: 15px 50px 5px;
    }

    header h1 {
        font-size: 22px;
    }

    /* Style untuk Side Menu */
    .sideMenu li {
        font-size: 14px;
    }

    .menu-item {
        width: 140px;
    }
    
    .namaApk li {
        font-weight: 700;
        font-size: 22px;
        text-align: center;
        padding: 25px 10px 25px 0px;
    }

    .custom-hr {
        width: 150px;
    }

    /* Style untuk Main */
    main {
        margin: 100px 50px 20px;
    }

    .container h2 {
        font-size: 18px;
    }
    
    p {
        font-size: 16px;
    }
    
    th, td {
        padding: 5px;
        font-size: 16px;
    }

    select {
        font-size: 16px;
    }
    
    #submitJawabanBtn {
        font-size: 16px;
    }

    #btnLihatHasil {
        font-size: 16px;
    }

    /* Style untuk Pop Up */
    .popup-content {
        margin: 10% auto;
    }

    .popup-content > h2, h3 {
        font-size: 18px;
    }

    .popup-content > p {
        font-size: 16px;
    }

    .close {
        font-size: 36px;
    }

    /* Style untuk Footer */
    footer {
        display: flex;
        flex-direction: column;
        padding: 30px 70px 20px;
    }

    .isi-footer {
        display: flex;
        gap: 180px;
    }

    .footer-sipakar {
        width: 50%;
    }

    .kontakPengembang{
        padding: 0%;
    }

    footer h3 {
        font-size: 24px;
    }

    footer p {
        font-size: 14px;
    }
}

@media (min-width: 1347px) {
    /* Style untuk Header */
    header {
        left: 240px;
        padding: 20px 80px 10px 80px;
    }

    header h1 {
        font-size: 28px;
    }
    
    /* Style untuk Side Menu */
    .sideMenu li {
        font-size: 18px;
        padding: 20px 10px 10px 30px;
    }

    .menu-item {
        width: 180px;
    }
    
    .namaApk li {
        font-weight: 700;
        font-size: 28px;
        text-align: center;
        padding: 25px 10px 25px 0px;
    }

    .custom-hr {
        width: 185px;
    }

    /* Style untuk Main */
    main {
        margin: 120px 100px 30px;
    }

    .container h2 {
        font-size: 22px;
    }
    
    p {
        font-size: 18px;
    }
    
    th, td {
        padding: 5px;
        font-size: 18px;
    }

    select {
        font-size: 16px;
    }
    
    #submitJawabanBtn {
        font-size: 16px;
    }

    #btnLihatHasil {
        font-size: 16px;
    }

    /* Style untuk Pop Up */
    .popup-content {
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        position: relative;
        text-align: left;
    }

    .popup-content > h2, h3 {
        font-size: 20px;
    }

    .popup-content > p {
        font-size: 18px;
    }

    .close {
        font-size: 38px;
    }

    /* Style untuk Footer */
    footer {
        display: flex;
        flex-direction: column;
        padding: 30px 90px 20px;
    }

    .isi-footer {
        display: flex;
        gap: 200px;
    }

    .footer-sipakar {
        width: 50%;
    }

    .kontakPengembang{
        padding: 0%;
    }

    footer h3 {
        font-size: 22px;
    }

    footer p {
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    /* Style untuk Main */   
    #next {
        padding-right: 185px;
    }

    #btnKirim {
        width: 120px;
    }
}